<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <main class="container">
            <h1>Publicações</h1>
            <form th:action="@{/publicacao}" 
                    method="POST"
                    th:object="${publicacao}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="txtusuario">Usuário</label>
                    <input id="txtusuario"
                        th:field="*{usuario}"
                        class="form-control"
                        type="text">
                </div>

                <div class="form-group">
                    <label for="txtitem">Item</label>
                    <input id="txtitem"
                        th:field="*{item}"
                        class="form-control"
                        type="text">
                </div>

                <div class="form-group">
                    <label for="txttitulo">Título</label>
                    <input id="txttitulo"
                        th:field="*{titulo}"
                        class="form-control"
                        type="text">
                </div>

                <div class="form-group">
                    <label for="txtdescricao">Descrição</label>
                    <input id="txtdescricao"
                        th:field="*{descricao}"
                        class="form-control"
                        type="text">
                </div>

                <div class="form-group">
                    <label for="txtvalor">Valor</label>
                    <input id="txtvalor"
                        th:field="*{valor}"
                        class="form-control"
                        type="text">
                </div>


                <button type="submit" 
                class="form-control">Enviar</button>

            </form>


        </main>
                    
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>